.container-red{
    background-color: red;
    width: 150px;
    height: 150px;
    display: inline-block;
    color: white;
}
.container-green{
    background-color: green;
    width: 150px;
    height: 150px;
    display: inline-block;
    color: white;
}
.container-blue{
    background-color: blue;
    width: 150px;
    height: 150px;
    display: inline-block;
    color: white;
}